body {
  padding: 40px 0px;
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /* disable text highlight */
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor:default;
}

img#logo {
  width: 186px;
  height: 200px;
}

.container {
  width: 600px;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  text-align: center;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 15px 25px rgba(0,0,0,.05);
     -moz-box-shadow: 0 15px 25px rgba(0,0,0,.05);
          box-shadow: 0 15px 25px rgba(0,0,0,.05);
}

a, a:hover, strong {
  font-size: 14px;
  font-weight: bold;
  color: #79ad36;
  text-decoration: none;
}

.countdownHolder {
  width: 450px;
  height: 1.6em;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
  letter-spacing: -3px;
}

.position {
  display: inline-block;
  height: 1.6em;
  overflow: hidden;
  position: relative;
  width: 1.05em;
}

.digit {
  position: absolute;
  display: block;
  width: 1em;
  background-color: #444;
  border-radius: 0.2em;
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
}

.digit.static {
  box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
  
  background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #3A3A3A),
    color-stop(0.5, #444444)
  );
}

.countDiv {
  display: inline-block;
  width: 20px;
  height: 1.75em;
  position: relative;
}

.countDiv:before,
.countDiv:after {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #444;
  border-radius: 50%;
  left: 50%;
  margin-left: -3px;
  top: 0.5em;
  box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
  content: '';
}

.countDiv:after {
  top: 0.9em;
}